body {
    font: 15px/1.5 Helvetica, Arial, sans-serif;
    padding: 0;
    margin: 0;
    background-color: #f4f4f4;
}

/* Global
================================================= */
.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

ul {
    margin: 0;
    padding: 0;
}

/* Header
================================================= */
header {
    background: #333;
    color: #ffffff;
    padding-top: 20px;
    min-height: 70px;
    border-bottom: 7px solid #E8C03F;
}

#logo-branding {
    display: inline;
}

#logo-branding i {
    font-size: 40px;
    margin-right: 10px;
}

#logo-branding h1 {
    text-transform: uppercase;
    margin: 0;
    display: inline;
    font-size: 26px;
}

#logo-branding h1 span {
    color: lightcoral;
}

header a {
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
}

header a:hover {
    color: #E8C03F;
}

header li {
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
    letter-spacing: 1px;
}

header nav {
    float: right;
    margin-top: 14px;
}

header .highlight, header .current a {
    color: lightcoral;
    font-weight: bold;
}

/* Showcase
================================================= */
#showcase {
    min-height: 100vh;
    background: url('../img/bg.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-align: center;
    color: #333;
}

#showcase h2 {
    margin-top: 100px;
    margin-bottom: 10px;
    font-size: 55px;
}

#showcase p {
    font-size: 20px;
    width: 70%;
    margin: auto;
}
